* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 32, 32);
    font-family: 'Inconsolata', monospace;
    color: whitesmoke;
}

header {
    position: sticky;
}

.menu {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.menu li {
    list-style: none;
    cursor: pointer;
    padding: 15px 20px;
}

.links a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    padding: 15px 20px;
    margin: 20px;
}

.links a:hover {
    background-color: #203A43;
    line-height: 12px;
    padding: 15px 12px;
    border-radius: 10px;
    opacity: 0.7;
    transition: 0.5s;
}

.menu img {
    margin-left: 100px;
}

.burguer {
    display: none;
}

@media screen and (max-width: 650px) {
    body {
        overflow: hidden;
    }
    .burguer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        cursor: pointer;
    }
    .links {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 50px;
        background-color: teal;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
    }
}

.nav-active {
    transform: translateX(50%);
}

@media screen and (max-width: 400px) {
    body {
        overflow: hidden;
    }
    .links {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 50px;
        background-color: teal;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
    }
    .nav-active {
        transform: translateX(65%);
    }
}

.redes {
    background-color: rgb(116, 116, 116);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes a {
    text-decoration: none;
}

.redes i {
    margin-left: 30px;
    color: rgb(8, 8, 8);
}

.linked i:hover {
    text-shadow: 0px 0px 10px #eff4f7;
    color: #066794
}

.twitter i:hover {
    text-shadow: 0px 0px 10px #eff4f7;
    color: #00acee
}

.github i:hover {
    text-shadow: 0px 0px 10px #eff4f7;
    color: #4e4e4e
}

.insta i:hover {
    text-shadow: 0px 0px 10px #eff4f7;
    color: #a517e7
}

#sobre,
.conteudo {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 15vh;
}

#sobre h1 {
    font-size: 35px;
}

#sobre b {
    font-size: 30px;
}

#sobre p {
    font-size: 25px;
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    #sobre {
        align-items: flex-start;
    }
    #sobre h1 {
        font-size: 25px;
        margin-left: 10px;
    }
    #sobre b {
        font-size: 20px;
    }
    #sobre p {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .conteudo {
        margin-left: 30px;
    }
    .menu img {
        margin-left: 15px;
        margin-top: 5px;
    }
}